body {
    background-color: rgb(222, 233, 246);
}

.header {
    width: 60%;
    margin: 40px auto 20px auto;
}

.header h1 {
    font-size: 28px;
    color: rgb(39, 39, 250);
    text-align: center;
}

main {
    width: 60%;
    margin: 0 auto 40px auto;
}

main > section {
    border-radius: 14px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

main h3 {
    border-left: 3px gold solid;
    padding-left: 10px;
    font-size: 22px;
    margin-bottom: 10px;
}

.sub-title {
    color: blue;
    margin-left: 18px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.c3 li {
    margin: 20px;
}


.c4 li {
    font-size: 14px;
    padding: 4px;
}

.c6 p {
    margin-left: 18px;
    font-size: 14px;
}


.c7 img {
    width: 45%;
    display: block;
    margin: 0 auto 14px auto;
    border-radius: 8px;
}

.c8 li {
    color: blue;
    font-size: 14px;
}

footer {
    width: 40%;
    margin: 20px auto;
    text-align: center;
    color: #333;
}